/* Se agrega espaciado entre el div y el contenido dentro del div  */
.container {
  padding: 20px;
}

/* Se agrega margen a los H1 */
h1 {
  margin-bottom: 20px;
}

/* Se configura el espacio entre los elementos del grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}


.crear-card {
  border: 2px dashed #999;
  transition: 0.2s ease;
}

.crear-card:hover {
  background-color: #f8f9fa;
  transform: scale(1.02);
}

.crear-img {
  height: 220px;
  background-color: #f1f1f1;
}

/* media queries para dispositivos móviles */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}