/* diseño para que la carta quede más larga que ancha */
.card-evento {
  width: 100%;
  aspect-ratio: 3 / 5; 
  display: flex;
  flex-direction: column;
}

/* diseño para la imagen */
.img-fixed {
  width: 100%;
  height: 45%;      
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}


.card-title {
  font-size: 16px;
  font-weight: 600;
}

.card-text {
  font-size: 14px;
}


button {
  margin-top: auto;
}