<div class="card shadow-sm card-evento" *ngIf="evento">

  <img 
    [src]="evento?.imagen" 
    class="card-img-top img-fixed" 
    alt="evento">

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ evento?.titulo }}</h5>
    <p class="card-text">{{ evento?.descripcion }}</p>

    <button 
      class="btn btn-outline-dark mt-auto" 
      (click)="verMas()" 
      type="button">
      Ver más
    </button>

    @if (esFavorito || mostrarEliminar) {
      <button class="btn btn-danger mt-2 text-dark" (click)="eliminar()" type="button">
        Eliminar evento
      </button>
    }

  </div>
</div>