/* Se configura el tamaño y posición de la imagen */
.img-detalle {
  width: 100%;
  height: 300px;       
  object-fit: cover;   
  border-radius: 8px;
}

/* El media query para dispositivos móviles */
@media (max-width: 768px) {
  .img-detalle {
    height: 200px;
  }
}